body{
    /* background-color: chartreuse; */
    font-family: Arial, sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    /* background-color: blue; */
    width: 100%;
    height: 600px;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(180, 70, 70); */
    max-width: 100%;
    height: 100px;
}

#logo{
    /* background-color: blueviolet; */
    height: 30px;
    width: 50px;
}

#head-list{
    color: white;
    display: flex;
    /* height: 10%;
    width: 15%; */
    /* justify-content: space-around; */
    gap: 50px;
}

#head-list li{
    list-style-type: none;
     height: 30px;
     /* width: 100px; */
     /* background-color: aqua; */
}

#head-list li a{
    color: white;
    text-decoration: none;
}
#accesso{
    background-color: white;
    height: 30px;
    width: 80px;
    padding-top: 5px;
    text-align: center;
    border-radius: 20px;
}

#schermata-1{
    /* background-color: saddlebrown; */
    padding-top: 50px;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titolo{
    font-size: large;
    width: 70%;
    height: 60%;
    margin-top: 2%;
    /* background-color:darkgoldenrod ; */
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#scarica-browser{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30%;
    width: 100%;
    /* background-color: cadetblue; */
}

#scarica{
    color: black;
    background-color: white;
    height: 60%;
    width: 18%;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
}

#browser{
    background-color: black;
    height: 60%;
    width: 27%;
    border-radius: 20px;
    text-align: center;
    padding-top: 8px;
}

.sezioni{
    /* background-color: cadetblue; */
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sezioni:nth-of-type(even){
    background-color: rgb(246, 246, 246);
}

.sezioni:nth-of-type(5){
    background-color: rgb(246, 246, 246);
}

.immagini{
    height: 70%;
    width: 40%;
    /* background-color: coral; */

}

.titoli{
    width: 30%;
    height: 50%;
    /* background-color: aquamarine; */
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testo-4{
    height: 24%;
}

.quarta-sez{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testo-4{
    width: 60%;
    /* border: solid 1px; */
}

.quarta-img{
    height: 90%;
    width: 80%;
}

.main-close{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#testo-finale{
    height: 7%;
    width: 40%;
    /* background-color: deeppink; */
    background-image: url(../img/stars.svg);
    text-align: center;
}

#download{
    background-color: rgb(101, 43, 226);
    width: 200px;
    height: 45px;
    padding-top: 8px;
    text-align: center;
    border-radius: 25px;
}

#download a{
    /* height: 10%;
    width: 20%; */
    /* background-color: blueviolet; */
    text-decoration: none;
    color: white;
    font-size: large;
}
footer{
    background-color:rgb(35, 39, 42);
    max-width: 90%;
    height: 470px;
    margin-left: 35px;
    /* height: 700px; */
}

#foot-container{
    display: flex;
    width: 100%;
}

footer aside{
    padding: 50px 0 0 35px;
    height: 300px;
    width: 20%;
    /* background-color: aquamarine; */
    /* text-align:; */
}

footer aside h1{
    color: rgb(86, 43, 226);
    font-size: 30px;
    padding-bottom: 20px;
}

footer aside img{
    width: 25px;
    height: 15px;
}

footer aside span{
    color: white;
}
footer aside div{
    margin-top: 20px;
}

footer aside div i{
    color: white;
    padding: 0 5px 0 5px;
}

#lista-supporto{
    width: 75%;
    /* height: ; */
    display: flex;
    justify-content: space-around;
    /* background-color: blueviolet; */
}

.liste{
    /* background-color: gold; */
    width: 50%;
    height: 70%;
    margin: 5px;
}

.liste ul{
    padding: 10%;
    list-style-type: none;
}

.liste h3{
    color: rgb(108, 139, 230);
}

.liste ul li{
    padding-top: 10%;
    color: white;
}

hr{
    border: 1px solid rgb(114, 137, 218);
    /* padding-bottom: 20px;
    padding-top: 30px; */
}

#end-nav{
    max-width: 90%;
    height: 100px;
    /* background-color: limegreen; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 35px;
    background-color: rgb(35, 39, 42);
}

#end-logo{
    width: 10%;
    height: 40%;
    /* background-color: blueviolet; */
}

#signin{
    height: 40%;
    width: 6%;
    background-color: rgb(114, 137, 218);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}